*{
    box-sizing: border-box;
}
.body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: black;
}

p{
    color: black;
}
a
{
    display: inline-block;
}
header{
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    width:100%;
}
header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo
{
    width: 100px;
}

header .container a
{
    color: red;
    text-decoration: none;
    margin: 0 15px;
}
.container
{
    width: 1140px;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

#inicio
{
    position: relative;
}

#inicio img
{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio
{
    position:absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
}

#inicio .bloque-inicio h1
{
    color: white;
    font-size: 35px;
}

#inicio .bloque-inicio p
{
    color: white;
    font-size: 16px;
}

.boton
{
    text-align: center;
    text-decoration: white;
    padding:15px 20px;
}

.boton.boton-rojo
{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.secction
{
    padding-top: 60px;
    padding-bottom: 60px;
}

#nosotros
{
    background-image: url(img/latas.jpg);
    background-size: cover;;
}
#nosotros p
{
    color:white;
    text-align: center;
    font-size: 16px;
    /*margin: 0;*/
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.columna
{
    padding-right: 15px;
    padding-left: 15px;
}
.columna-33
{
    width: 33.33%;
}